<div class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-900 px-4">
    <div class="w-full max-w-md bg-white dark:bg-gray-800 rounded-2xl shadow-lg p-8">
        <!-- Title -->
        <h2 class="text-3xl font-bold text-center text-gray-900 dark:text-white mb-6">
            Login to ParkingSys
        </h2>
        <form [formGroup]="loginForm" class="space-y-4">
            <!-- Email -->
            <div>
                <label
                    class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 required-field">Email</label>
                <input type="email" formControlName="email" placeholder="admin@example.com"
                    class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-indigo-500 dark:bg-gray-700 dark:text-white dark:border-gray-600"
                    required />
                <p *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                    class="text-red-500 text-sm mt-1">Valid email is required</p>
            </div>

            <!-- Password -->
            <div>
                <label
                    class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 required-field">Password</label>
                <input type="password" formControlName="password" placeholder="••••••••"
                    class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-indigo-500 dark:bg-gray-700 dark:text-white dark:border-gray-600"
                    required />
                <p *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="text-red-500 text-sm mt-1">Password is required</p>
            </div>

            <!-- Submit Button -->
            <button type="submit" [disabled]="loginForm.invalid"
                class="w-full py-2 px-4 bg-indigo-600 hover:bg-indigo-700 text-white font-semibold rounded-lg transition disabled:opacity-50"
                (click)="submitForm()">
                Login
            </button>
            <div class="mt-4 text-center">
                <button type="button" class="text-sm text-indigo-600 hover:underline dark:text-indigo-400"
                    (click)="goToForgotPassword()">
                    Forgot Password?
                </button>
            </div>
        </form>
    </div>
</div>